.skills-element{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    background-color: navy;
    align-items: center;
    justify-content: center;
}
.se-child{
    text-align: center;
    height: fit-content;
}
.sec-icon{
    width: 10vw;
}
@media (max-width:700px) {
    .skills-element{
        grid-template-rows: 25vh 25vh 25vh;
    }
}
