/* General Window */
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    scrollbar-color: aqua black;
}

.nav-item:hover .nav-link{
   color: chartreuse !important;
   transition: 0.5s ease-in-out;
}
.nav-link{
    color: white !important;
    font-weight: bold;
    font-size: 16px;
}
.profile-icon{
    background-color: white;
    border-radius: 50%;
    width: 32px;
}
.gaming-logo{
    width: 40px;
}
.gaming-headline{
    color: white;
    font-size: 18px;
    margin: 0;
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}
.navbar-nav{
    margin-left: 200px;
    gap: 18px;
}
.navbar-toggler{
    color: white !important;
    font-size: 24px;
}
.header-page{
    height: fit-content;
    width: 100%;
}
.bg-video-container{
    height: fit-content;
    width: 100%;
}
#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(5px);
 }
 .video-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    gap: 20px;
 }
 .con-1{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
 }
 .con-1 h3{
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 5px 5px black;
 }
 .con-1 button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 110px;
    height: 30px;
    background-color: skyblue;
    border: none;
    border-radius: 25px;
    gap: 10px;
 }
 .con-1 button i{
    background-color: white;
    border-radius: 50%;
    width: 35px;
    color: skyblue;
 }
 .con-1 button p{
    margin: 0;
    font-weight: bold;
    color: white;
 }
 .header-desc{
    margin: 0;
    font-weight: bold;
    color: white;
 }
 .h-more{
    background-color: chartreuse;
    border: none;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 2px;box-shadow: 1px 1px 10px 5px chartreuse;
 }
 .h-more:hover{
    gap: 10px;
    transition: 0.3s;
 }
.store-page{
   width: 100%;
   height: fit-content;
   padding-bottom: 10px;
   background-color: black;
}
.store-title{
   width: 100%;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 18px;
}
.store-title h3{
   color: white;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
}
.store-title h3 span{
   color: chartreuse;
}
.store-title i{
   color: chartreuse;
   font-size: 32px;
}
.game-store-list{
   display: grid;
   height: fit-content;
   grid-template-columns: 20% 20% 20%;
   grid-template-rows: 30vh 30vh 30vh;
   grid-column-gap: 10%;
   grid-row-gap: 10vh;
   width: 100%;
   justify-content: center;
   align-items: center;
   padding-top: 10px;
}
.gsl-box{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.gsl-box h3{
   opacity: 0;
   color: chartreuse;
   font-weight: bold;
   font-size: 100%;
   text-align: center;
}
.gsl-box:hover{
   background-image: none;
   border: 10px solid chartreuse;
   transform: rotate(360deg);
   transition: 0.5s;
}
.gsl-box:hover h3{
   opacity: 100%;
   transform: rotate(360deg);
   transition: 0.5s;
}
.nfs{
   background-image: url("nfs.png");
}
.codbo6{
   background-image: url("codbo6.jpg");
}
.asscreed{
   background-image: url("asscreed.png");
}
.wukong{
   background-image: url("wukong.jpg");
}
.wwe2k{
   background-image: url("wwe2k.png");
}
.spiderman{
   background-image: url("spiderman.jpeg");
}
.gow{
   background-image: url("gow.jpg");
}
.eafc{
   background-image: url("eafc.jpg");
}
.gta6{
   background-image: url("gta6.png");
}

.view-more{
   width: 100%;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}
.view-more a{
    background-color: chartreuse;
    border: none;
    border-radius: 25px;
    width: 120px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 2px;
    box-shadow: 1px 1px 5px 5px chartreuse;
    text-decoration: none;
    color: black;
}
.view-more a:hover{
   background-color: blueviolet;
   color: white;
   box-shadow: 1px 1px 5px 5px blueviolet;
   transition: 0.3s;
}











 /* Mobile View */
 @media (max-width: 767px){
    .con-1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
     }
     .con-1 h3{
        color: white;
        font-weight: bold;
        font-size: 30px;
        text-shadow: 3px 3px black;
     }
     .header-desc{
        margin: 0;
        font-weight: bold;
        color: white;
        text-align: center;
     }
     .game-store-list{
      display: flex;
      flex-direction: column;
     }
     .gsl-box{
      width: 40%;
      height: 30vh;
     }
 }




 